.root{
  display: grid;
  grid-template-areas:
  width: 100vw;
  height: 100vh;
  background-image: url("https://cdn.hipwallpaper.com/i/89/80/w8qd1O.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
  font-family: 'Open Sans';
}


h1, #description{
  text-align: center;
  grid-area: header;
}

.inputField{
  border-radius: 8%;
}

.formField{
  display: flex;
  margin: 0 0 2vh 0;
}

label{
  margin-right: 2vw;
  font-weight: bold;
}

p{
  font-weight: bold;
}

/* input:valid{
  box-shadow: 1px 1px 5px 5px hsl(61, 63%, 53%, .7);
} */

input:invalid{
  box-shadow: 1px 1px 5px 5px hsl(0, 60%, 52%, .7);
}

#title{
  text-shadow: 3px 3px 2px hsl(0, 0%, 55%);
}

#Email{
  margin-left: 4vw;
}

#name, #name-label{
  margin: 0 0 2vh 1.5vw;
}

#name-label{
  margin-left: 4vw
}

#expLevel{
  margin-right: .7vw;
}

#Gender, #Experience, #Checks{
  display: block;
  margin-left: 15vw;
}

textarea{
  box-sizing: border-box;
  width: 80%;
}

#textSpace{
  display: block;
  margin: auto;
}

#TextArea{
  display: block;
  padding-top:2vh;
}

#submit{
  display: block;
  margin: auto;
  width: 20%;
}
